body {
    background-image: url("./img/IMG_1910.JPG") ;
    background-repeat: no-repeat;
    background-size: 100%;
}


p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size:60px;
    margin: auto;
    width: 80%;
    text-align:right
}
